.contact-title {
  font-size: 1.8em;
  margin-bottom: 15px;
  color: var(--theme-blue-text);
}

.contact-links ul {
  list-style: none;
  padding-left: 0;
}

.contact-links li {
  margin-bottom: 8px;
}

.contact-section {
  margin-bottom: 25px;
}
